<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/calculator.css">
    <link rel="stylesheet" href="../../static/res/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/res/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <script src="../../static/res/jquery.min.js"></script>
    <script src="../../static/res/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../static/js/calculator.js"></script>
    <title>calculator</title>
</head>
<body>
    <div  class="container" id="calculator">
        <h1>计算器</h1>
        <div class="calc-in-out">
            <div class="calc-in"></div>
            <div class="calc-out"></div>
        </div>    
     
        <table class="table table-bordered">
            <tr>
                <td class="symbol">CE</td>
                <td class="symbol">C</td>
                <td class="symbol">←</td>
                <td class="symbol">÷</td>
            </tr>
            <tr>
                <td class="num">7</td>
                <td class="num">8</td>
                <td class="num">9</td>
                <td class="symbol">x</td>
            </tr>
            <tr>
                <td class="num">4</td>
                <td class="num">5</td>
                <td class="num">6</td>
                <td class="symbol">-</td>
            </tr>
            <tr>
                <td class="num">1</td>
                <td class="num">2</td>
                <td class="num">3</td>
                <td class="symbol">+</td>
            </tr>
            <tr>
                <td class="symbol">±</td>
                <td class="num">0</td>
                <td class="symbol">.</td>
                <td class="symbol">=</td>
            </tr>
        </table>
    </div>
      
</body>
</html>